


/* Media Queries */


@media screen and (max-width: 600px) {
  body {
    width: 100%;
    text-align: center;
  }
  
  .header {
    margin: auto;
    width: 80%;
  }
  
  h1 {
    font-size: 40px;
    letter-spacing: 0px;
  }
  
  .main {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  
  ul {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  
  .row {
    margin: 10px auto;
    width: 90%;
    font-size: 14px;
  }
  
  .col-xs-2 {
    padding-top: 4%;
  }
  
  .logo {
    width: 100%;
  }

  
}












