.main {
	@extend %position;
	@extend %width;
	@media #{$break} {
		margin: auto;
    	width: 90%;
    	text-align: center;
	} 
}
	 
.row {
	height: 80px;
	margin-top: 10px;
	
}

ul {
	@media #{$break} {
		width: 90%;
    	text-align: center;
    	margin: auto;
	} 	
}
