@import 'https://fonts.googleapis.com/css?family=Orbitron';



body { 
font-size: 18px;
font-family: 'Orbitron';
}

.header {
  text-align: center;
  color: rgb(216, 197, 232);
}

h1 {
  font-size: 80px;
  letter-spacing: 10px;
}