* {
	box-sizing: border-box;
}

body { 
	height: 1200px;
	@include background($img-path, cover);
	@media #{$break-tablet} {
		width: 100%;
    	text-align: center;
	} 
}

.row {
	white-space: nowrap; 
	overflow: hidden;  
	border-radius: 2px;
}

 